<div class="wrapper">
  <div class="body">
    <h5 class="heading-5">
      <span>03</span>
      SPACE LAUNCH 101
    </h5>
    <div class="slider-wrapper">
      <div class="oval-wrapper">
        <div
          class="oval-select"
          *ngFor="let oval of [0, 1, 2]"
          (click)="selectTechno(oval)"
          [ngClass]="{ active: oval == currentTechno }"
        >
          {{ oval + 1 }}
        </div>
      </div>
      <div class="technologies-wrapper">
        <app-technology-details
          *ngFor="let technology of getTechnologies; let i = index"
          [technology]="technology"
          style="--translate : 0 {{ -100 * currentTechno }}%; --opacity : {{
            i == currentTechno ? 1 : 0
          }}"
        ></app-technology-details>
      </div>
    </div>
  </div>
</div>
