<header>
  <nav>
    <div class="logo-wrapper">
      <img src="assets/images/shared/logo.svg" alt="" />
    </div>
    <ul>
      <li>
        <a routerLink="/"> <span class="number">00</span> Home </a>
      </li>
      <li>
        <a routerLink="destination">
          <span class="number">01</span> Destination
        </a>
      </li>
      <li>
        <a routerLink="crew"><span class="number"> 02 </span> Crew</a>
      </li>
      <li>
        <a routerLink="technology"><span class="number">03</span> Technology</a>
      </li>
    </ul>
  </nav>
</header>
