:host {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 100%;
  transition: translate 1s ease;
}
section {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.heading-4 {
  color: var(--light-white);
  text-transform: uppercase;
  line-height: 37px;
}
.heading-3 {
  color: var(--white);
  text-transform: uppercase;
  line-height: 64px;
}
.body-text {
  line-height: 32px;
  color: var(--accent-color);
  width: 60%;
}
img {
  height: 1%;
  max-height: 550px;
}
