.wrapper {
  background-image: url("/assets/images/crew/background-crew-desktop.jpg");
  overflow-y: hidden;
}
.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 230px 10.3125rem 0;
  justify-content: space-between;
}
.slider-wrapper {
  display: flex;
  width: 100%;
  overflow: hidden;
  align-items: center;
}
.pagination-wrapper {
  position: absolute;
  bottom: 5%;
  width: 200px;
  height: 15px;
  display: flex;
  column-gap: 1.5rem;
}

.dot {
  all: initial;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.17);
  cursor: pointer;
  transition: var(--transition);
  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  &.active {
    background-color: var(--white);
  }
}
