<div class="wrapper">
  <div class="body">
    <h5 class="heading-5">
      <span>02</span>
      Meet your crew
    </h5>
    <div class="slider-wrapper">
      <app-crew-details
        *ngFor="let crew of getCrew(); let i = index"
        [crew]="crew"
        [ngStyle]="{ translate: currentSlide * -100 + '%' }"
      >
      </app-crew-details>
    </div>
    <div class="pagination-wrapper">
      <button
        class="dot"
        *ngFor="let dot of [0, 1, 2, 3]"
        (click)="onSlide(dot)"
        [ngClass]="{ active: currentSlide == dot }"
      ></button>
    </div>
  </div>
</div>
