<div class="loader-wrapper" id="loader">
  <div class="earth-orbit">
    <img class="earth" src="assets/images/earth.svg" alt="earth" />
  </div>
  <div class="mars-orbit">
    <img class="mars" src="assets/images/mars.svg" alt="mars" />
  </div>
  <div class="jupiter-orbit">
    <img class="jupiter" src="assets/images/jupiter.svg" alt="mars" />
  </div>
  <div class="saturn-orbit">
    <img class="saturn" src="assets/images/saturn.svg" alt="mars" />
  </div>
  <img src="assets/images/sun.svg" alt="sun" class="sun" />
</div>
<h5 class="heading-5">Loading...</h5>
