:root {
  // colors
  --primary-color: #0b0d17;
  --accent-color: #d0d6f9;
  --white: #ffffff;
  // fonts
  --bellefair: "Bellefair", serif;
  --barlow-condensed: "Barlow Condensed", sans-serif;
  // animation
  --transition: all 0.3s ease-in-out;
}
